body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    font-weight: 400;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    }

    h1, h2, h3, p {
    margin: 0;
    }

    img {
    display: block;
    }

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
border-bottom: 1px solid #e7e9fc;
}
    .header-container {
        display: flex;
        align-items: center;
    }

    .header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.logo .accent {
    color: #2e2f42;
}
.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}
.address {
font-style: normal;
margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}
.contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.main {
    background: #2e2f42;
    width: 100%;
    padding: 188px 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #2e2f42;
    text-align: center;
}


.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

.main-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    }

.main-button:focus,
.main-button:hover {
    background-color: #404bbf;
}
.name {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
    background: #f4f4fd;
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.team-images {
        background: #fff;
}
.footer {
    background: #2e2f42;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-footer .accent {
    color: #f4f4fd;
}
.text-footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}